.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 8vh; */
  width: 100%;
  height: 100vh;
  /* border: 2px solid red; */
  font-size: 2rem;
  color: white;
}

.iconContainer {
  display: flex;
  flex-direction: row;
}

.mediaIcon img {
  width: 60px;
  height: 60px;
  margin-left: 50px;
  margin-top: 50px;
}

.mediaIcon img:hover {
  transform: scale(1.2);
  transition: .2s;
}