.container {
  color: white;
}

a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  padding-right: 20px;
  letter-spacing: 5px;
}

a:hover {
  text-shadow: 100px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}