.container {
  font-size: 1.5rem;
  width: 100%;
  height: 70vh;
  color: aliceblue;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* background-color: rgb(30, 30, 30); */
  /* border-bottom: 2px solid #300079; */
  border-bottom: 2px solid white;
}

.profileContainer {
  /* background-color: aquamarine; */
  color: teal;
  width: 22%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

a.trybe {
  font-weight: 600;
  font-size: 1.5rem;
  color: green;
}

.aboutContainer {
  /* background-color: pink; */
  width: 60%;
}

.aboutText {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 2px;
}

.aboutContainer p:nth-child(2) {
 letter-spacing: 1px;
 /* text-align: center; */
 color: gray;
}

.iconContainer {
  display: flex;
  flex-direction: column;
}

.mediaIcon img {
  width: 60px;
  height: 60px;
  margin-left: 50px;
  margin-top: 50px;
}

.mediaIcon img:hover {
  transform: scale(1.2);
  transition: .2s;

}