.jsIcon {
  width: 65px;
  height: 87px;
  background-image: url('../images/languages/js_box.png');
  display: flex;
  align-items: center;
  justify-items: center;

  position: absolute;
  top: 200px;
  left: 240px;
}

.jsIcon:hover {
  top: 190px;
  left: 235px;
  transition: 1s;
  cursor: pointer;
}

.cssIcon {
  width: 65px;
  height: 87px;
  background-image: url('../images/languages/css_box.png');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 300px;
  left: 340px;
}

.cssIcon:hover {
  top: 290px;
  left: 335px;
  transition: 1s;
  cursor: pointer;
}

.htmlIcon {
  width: 65px;
  height: 87px;
  background-image: url('../images/languages/html_box.png');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 200px;
  left: 380px;
}

.htmlIcon:hover {
  top: 185px;
  left: 370px;
  transition: 1s;
  cursor: pointer;
}

.nodeIcon {
  padding-left: 5px;
  width: 65px;
  height: 87px;
  background-image: url('../images/languages/node_box.png');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 270px;
  left: 510px;
}

.nodeIcon:hover {
  top: 255px;
  left: 500px;
  transition: 1s;
  cursor: pointer;
}

.sqlIcon {
  width: 65px;
  height: 87px;
  background-image: url('../images/languages/sql_box.png');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 380px;
  left: 465px;
}

.sqlIcon:hover {
  top: 365px;
  left: 455px;
  transition: 1s;
  cursor: pointer;
}

.reactIcon {
  padding-left: 2px;
  width: 65px;
  height: 87px;
  background-image: url('../images/languages/react_box.png');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 450px;
  left: 595px;
}

.reactIcon:hover {
  top: 440px;
  left: 585px;
  transition: 1s;
  cursor: pointer;
}
