* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 21, 94, 1) 100%
  );
}

#home-container {
  width: 100vw;
  height: 100vh;
  background-image: url('./images/home_bg.jpg');
}

#navbar {
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.navContent {
  margin: auto;
  max-width: 1440px;
  height: 100%;
  /* border: 1px solid red; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  color: azure;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}

.navLinks {
  text-align: center;
  margin-right: 1rem;

  display: flex;
}

.navLinks span {
  margin-right: 1rem;
}

.navLinks p {
  color: azure;
  font-size: 0.8rem;
  font-weight: bolder;
}

.navLinks a {
  text-decoration: none;
}

.navLinks i:hover {
  box-sizing: border-box;
  transition-duration: 500ms;
  font-size: 2.2rem;
}

.icon {
  color: azure;
}

.photoMini {
  border: 2px solid white;
  width: 45px;
  border-radius: 100%;
}

#mainContent {
  width: 50vw;
  height: 93vh;
  /* background-color: red; */
}

.leftSide {
  width: 50vw;
  height: 93vh;
  /* background-color: yellow; */
  background-image: url('../images/computer_bg.png');
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-position-y: 100%;
  position: relative;
}
