* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
  scroll-behavior: smooth;
}

body {
  /* APAGAR */
  overflow: hidden;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(49, 21, 94, 1) 100%
  );
}

#home-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#navbar {
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.navContent {
  position: relative;
  margin: auto;
  max-width: 1440px;
  height: 100%;
  /* border: 1px solid red; */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLogo {
  color: azure;
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bolder;
}

.navLinks {
  text-align: center;
  margin-right: 1rem;

  display: flex;
}

.navLinks span {
  margin-right: 1rem;
}

.navLinks p {
  color: azure;
  font-size: 0.8rem;
  font-weight: bolder;
}

.navLinks a {
  text-decoration: none;
}

.navLinks i:hover {
  box-sizing: border-box;
  transition-duration: 500ms;
  font-size: 2.2rem;
}

.icon {
  color: azure;
}

.photoMini {
  border: 2px solid white;
  width: 45px;
  border-radius: 100%;
}

#mainContent {
  width: 100vw;
  height: 93vh;
  /* position: relative; */
  display: flex;
}

.nextPage {
  animation-name: nextPage;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#projectsModal {
  visibility: visible;
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  position: absolute;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  
}

#modalContent {
  border-radius: 50px;
  width: 70vw;
  height: 70vh;
  background-color: yellow;
  position: absolute;
  z-index: 2;
}

#close {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  background-color: red;

  font-size: 30px;
  cursor: pointer;

  position: absolute;
  right: 0;
}

.nextPage a {
  color: white;
  text-decoration: none;
}

#about {
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.myPhoto {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.myPhoto img {
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.myPhoto p {
  font-size: 0.7rem;
  width: 400px;
}

.aboutMe {
  width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.aboutMe h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}

.aboutMe p {
  text-align: center;
  line-height: 50px;
  font-size: 1.2rem;
}

@media screen and (max-width: 3000px) {
  .rightSide {
    /* border: 2px solid red; */
    width: 45vw;
    height: 93vh;
    margin-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    color: beige;
    position: relative;
  }

  .leftSide {
    width: 65vw;
    height: 93vh;
  }

  .leftSide .computer {
    position: absolute;
    bottom: 0;
  }

  .leftSide .book img {
    width: 130px;
    position: absolute;
    bottom: 180px;
    left: 220px;
  }

  .leftSide .book img:hover {
    width: 150px;
    position: absolute;
    bottom: 170px;
    left: 210px;
    transition: 1s;
  }
  .firstParagraph {
    font-size: 3rem;
    padding-bottom: 100px;
  }

  .nextPage {
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 100vw;
    color: white;
  }
  .tabletFormat {
    display: none;
  }

  .goToTop {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 65px;
    height: 65px;
    background-color: black;
    border-radius: 10%;
    position: absolute;
    bottom: 50px;
    right: 50px;

    animation-name: nextPage;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  .goToTop a {

    color: white;
    text-decoration: none;
  }
  .goToTop a:visited {
    color: white;
}

@media screen and (max-width: 1024px) {
  .tabletFormat {
    display: block;
  }

  .leftSide {
    display: flex;
    width: 100vw;
    height: 45vh;
  }

  .absoluteForTablet {
    display: relative;
  }

  .rightSide {
    width: 100vw;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 2rem;
    color: beige;
  }
  .firstParagraph {
    /* border: 2px solid red; */
    width: 100vw;
    text-align: center;
    padding-bottom: 50px;
  }
  .secondParagraph {
    /* border: 2px solid red; */
    width: 100vw;
    padding: 50px;
    text-align: center;
  }

  .tabletParagraph {
    /* border: 2px solid red; */
    display: block;
    color: white;
    /* width: 100%; */
    margin-top: 80px;
  }
}

@media screen and (max-width: 768px) {
  .tabletFormat {
    display: none;
  }

  .leftSide {
    display: none;
  }

  .rightSide {
    margin-top: 150px;
  }
}

@media screen and (max-width: 768px) {
}
